<div class="container">
  <%= form_for([:admin, @blog]) do |f| %>
    <div class="field ">
      <%= f.label :title, class: "label text green" %>
      <div class="control has-icons-right">
        <%= f.text_field :title, class:"input", required: true %>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field ">
      <%= f.label :description, class: "label text green" %>
      <div class="control has-icons-right">
        <%= f.text_field :description, class:"input", required: true %>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field ">
      <%= f.label :rich_body, class: "label text green" %>
      <div class="control">
        <%= f.rich_text_area :rich_body, class:"input rich-text", required: true %>
      </div>
    </div>

    <div class="field ">
      <%= f.label :reference, class: "label text green" %>
      <div class="control has-icons-right">
        <%= f.text_field :reference, class:"input", required: true %>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>
    
    <div class="field ">
      <%= f.label :tags, class: "label text green" %>
      <div class="control has-icons-right">
        <%= f.text_field :tags, class:"input", required: true %>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="file has-name is-boxed is-success">
      <label class="file-label">
        <%= f.file_field :poster, class: "file-input" %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file for poster
          </span>
        </span>
      </label>
    </div>

    <label class="checkbox">
      <%= f.check_box :published, class:"checkbox" %>
      <%= f.label :published%>
    </label>

    <div class="field is-grouped is-grouped-left">
      <p class="control">
        <%= f.submit "Save", class:"button is-success"  %>
      </p>
    </div>  
  <% end %>
</div>
